.cards-container {

  @include xy-grid;

  .card {
    @include breakpoint(small) {
      @include xy-cell(12);

      .card-content {
        padding: 1rem;
      }

    }

    @include breakpoint(medium) {
      @include xy-cell(1 of 3, true, 0.7rem );

    }

  }
}

/* -------------------------------------O-------------------------------------------------------------------------------CARDS---------------------- */
/* CARD STYLING */

.product-cards {
    @include xy-grid;
    @include xy-gutters($gutter-position: top left right bottom);

    .card {
        @include xy-cell(12);
        border: 0;

        @include breakpoint(medium) {
            @include xy-cell(6);
        }

        @include breakpoint(large) {
            @include xy-cell(3);
        }

        .card-section {
            &.card-img {
                
                img {
                    width: 100%;
                    object-fit: fill;
                }
            }

            &.card-title {

            
            }
            &.card-paragraph {
                min-height: 300px;
                
                .align-right {
                    
                }
            }
        }
    }

    .card-divider {
        background: transparent;
    }
}

.card-relative {
  position: relative;
}

.hover-cards {
  .partner-name-hover {
    display: block;
    position: absolute;
    color: $secondary-color;
    z-index: 100;
    width: 100%; 
    opacity: 0;
    transition: 0.2s all;
    transform: translateY(100%);
    text-align: center;
    background-color: $dark-gray;
    padding: 10px;
  }
  
  .card-section {
    margin: 0 auto;

    img {
      max-width: 200px;
      
      @include breakpoint(medium) {
        max-width: 300px;
      }

      @include breakpoint(medium) {
        max-width: 400px;
      }
    }
  }

  .hover-card-activator {
    width: 100%;
    height: 100%;

    &:hover,
    &:focus {
      transform: scale(1.2);

      img {
        @include blur(5);
      }

      .partner-name-hover {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .card {
    transition: 0.2s all;
    position: relative;
  }
}