.cards-container {

  @include xy-grid;

  .card {
    @include breakpoint(small) {
      @include xy-cell(12);

      .card-content {
        padding: 1rem;
      }

    }

    @include breakpoint(medium) {
      @include xy-cell(1 of 3, true, 0.7rem );

    }

  }
}

/* -------------------------------------O-------------------------------------------------------------------------------CARDS---------------------- */
/* CARD STYLING */

.product-cards {
    @include xy-grid;
    @include xy-gutters($gutter-position: top left right bottom);

    .card {
        @include xy-cell(12);
        border: 0;

        @include breakpoint(medium) {
            @include xy-cell(6);
        }

        @include breakpoint(large) {
            @include xy-cell(3);
        }

        .card-section {
            &.card-img {
                
                img {
                    width: 100%;
                    object-fit: fill;
                }
            }

            &.card-title {

            
            }
            &.card-paragraph {
                min-height: 300px;
                
                .align-right {
                    
                }
            }
        }
    }

    .card-divider {
        background: transparent;
    }
}
