
.wpcf7 {

    .wpcf7-form {
        @include xy-grid;
        p {
            &:nth-child(-n+4) {
                @include xy-cell(12);

                @include breakpoint(medium) {
                    @include xy-cell(4);
                }
            }

            &:nth-child(n+5) {
                @include xy-cell(12);
            }

            label {
                color: $white;
            }

            input {
                color: #303030;
            } 

            input[type='submit'] {
                margin: 20px 0;
                width: 100px;
                height: 50px;
                color: $secondary-color;
                text-align: center;
                border: 4px $secondary-color solid;
                background: transparent;

                &:hover,
                &:focus {
                    background: darken($secondary-color, 30);
                }
            }
        }
    }
}

.wpcf7-validation-errors {
    color: red;
    width: 100%;
}