
.page-template-page-extra .site-content {
    margin-top: 2rem;

    @include breakpoint(medium) {
        margin-top: 6rem;
    }

    @include breakpoint(middle) {
        margin-top: 8rem;
    }
}