.absolute-wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0;
}

.site-banner-content {
    .site-banner-media {
        // @include xy-grid();
        @include xy-gutters($gutter-position: top left right);
        height: calc(100vh - #{$navHeight});
        position: relative;
        overflow: hidden;

        .story {
            position: relative;
            width: 100%;
            height: 100%;

            img {
                position: absolute;
                z-index: -1;
            }
        }

        .silver-border {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            border: 4px solid #E6E6E6;
        }

        .banner-video, .video-ended-poster {
            object-fit: cover;
            object-position: 20% 20%;
            position: absolute;
            height: 100vh;
            width: 100vw;
            z-index: -2;
        }

        .mobile {
            display: none;
        }

        .site-banner-header-container {
            @include flex;
            @include flex-align($x: right);
            margin-right: 10%;

            .site-banner-header {
                @include flex;
                @include flex-direction(column);
                background-color: rgba(255,255,255,1);
                text-align: center;
                font-variant: small-caps;
                color: black;
                position: relative;

                @include breakpoint(medium) {

                }

                @include breakpoint(large) {
                    
                }

                .center-home-logo {
                    width: 100%;
                    height: auto;
                }

                .social-media-menu {
                    @include social-media;
                }

                .header-background {
                    height: 200px;
                    bottom: 0;
                    position: absolute;
                    width: 100%;
                    opacity: 1;
                    transform: translateY(100%);

                    svg {
                        width: 100%;
                        height: 100%;
            
                            polygon {
 
                                &:first-child {
                                    fill: $light-gray;
                                    transform: translate(20%,40%) scale(0.6);
                                }
                                &:nth-child(2) {
                                    fill: $light-gray;
                                    transform: translate(10%,20%) scale(0.8);
                                }
                                &:nth-child(3) {
                                    fill: white;
                                }
                            }
                    }
                }
                
                .banner-title {
                    position: relative;
                    line-height: 1rem;
                    font-size: 2rem;
                    text-transform: uppercase;
                    padding: 20px 20px 20px 20px;

                    &:after {
                        @include yellow-line-center();
                    }
                }

                strong {
                    font-size: 1.2rem;
                    text-transform: lowercase;
                }

                a {
                    width: 50%;
                    margin: 0 auto;
                    margin-bottom: 20px;
                }
            }

            .header-promo {
                @include flex;
                @include flex-direction(column);
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -2;
                background-color: black;
                color: $light-gray;
                padding: 20px;
                font-size: 0.7rem;

                a {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }

                img {
                    width: 150px;
                    height: auto;
                }
            }
        }
        
    }
}