/*

Parent page for posts. You will land here if you click on news, or certain categories
of the Resource center.

*/

.post-grid {
    @include xy-grid();
    flex-direction: column;

    .post-wrapper {
        display: flex;
        flex-direction: row;
        @include xy-grid();
    }

    .post-grid-block {
        @include xy-cell(12, $gutters: 0);
        @include reorder();
        margin-top: 0;

        @include breakpoint(large) {
            @include xy-cell(6, $gutters: 0);
            @include reorder();
        }

        @include breakpoint(xxlarge) {
            @include xy-cell(4, $gutters: 0);
            @include reorder();
        }

        .post-grid-block-inside {
            @include xy-grid();
            @include flex;
            height: 100%;
            position: relative;
            margin: 0 auto;

            .post-grid-block-inside-cell {
                @include xy-cell(12, $gutters: 0);
                @include flex;
                @include flex-direction(column);
                @include flex-align($y: middle);
                min-height: 350px;

                .entry-inner { 
                    position: relative;
                    padding: 40px;
                    height: 100%;
                    width: 100%;

                    &:before {
                        color: $dark-gray;
                        content: "\2635";
                        display: block;
                        font-size: 2rem;
                        height: 50px;
                        left: 50%;
                        line-height: 50px;
                        transform: translate(-50%, -50%);
                        position: absolute;
                        text-align: center;
                        top: 0;
                        width: 50px;
                        z-index: 1;
                    }

                    &:after {
                        background-color: #fff;
                        border-radius: 50px;
                        content: "";
                        display: block;
                        height: 50px;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        position: absolute;
                        top: 0;
                        width: 50px;
                    }

                    .entry-content {
                        padding-top: 0;
                    }
                }

                &.no-thumbnail {
                    @include xy-cell(12, $gutters: 0);

                    .entry-inner {
                        &:before,
                        &:after {
                            display: none;
                        }

                        @include flex;
                        @include flex-align($x: center);
                        text-align: center;
                        
                        .entry-inner-content {
                            @include flex-align-self(middle);

                            h4 {
                                margin-bottom: 30px;

                                &:after {
                                    margin-top: 30px;
                                }
                            }
                        }

                        .entry-content {
                            position: relative;
                            padding-top: 0;
                            
                            &:before {
                                color: $white;
                                content: "\2635";
                                top: 0;
                                display: block;
                                font-size: 2rem;
                                height: 50px;
                                line-height: 50px;
                                margin-left: 50%;
                                transform: translate(-50%, -55px);
                                position: absolute;
                                width: 50px;
                                z-index: 1;
                            }
        
                            &:after {
                                background-color: $dark-gray;
                                border-radius: 50px;
                                content: "";
                                top: 0;
                                display: block;
                                height: 50px;
                                margin-left: 50%;
                                transform: translate(-50%, -55px);
                                position: absolute;
                                width: 50px;
                            }
                        }
                    }
                }

                @include breakpoint(medium) {
                    @include xy-cell(6, $gutters: 0);

                    .entry-inner {
                        &:before {
                            left: 0;
                            top: 50%;
                        }
    
                        &:after {
                            left: 0;
                            top: 50%;
                        }
                    }
                }

                .entry-media {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;

                    .overlay {
                       display: none;
                    }

                    img {
                        height: 100%;
                        object-fit: cover;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }

            a.cover-link {
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 2;

                &:hover ~ .no-thumbnail,
                &:focus ~ .no-thumbnail  {
                    .entry-content {
                        &:before {
                            transform-origin: center center;
                            transform: translate(-50%, -55px) rotate(90deg);
                            transition: 0.2s all ease-in-out;
                        }
                    }
                }

                &:hover,
                &:focus {
                    & ~ .post-grid-block-inside-cell .entry-media img {
                       @include blur(5);
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

nav[aria-label="Pagination"] {
    padding: rem-calc(20);
}