.pricing-container {
    @include xy-grid-container;
    padding: 80px 0 20px 0;

    .pricing-head-content-container {
        @include xy-grid;

        .pricing-heading {
            @include xy-cell(12);
        }

        .pricing-desc {
            @include xy-cell(12);
        }

        .pricing-feature {
            @include xy-cell(12);
        }
    }

    .pricing-split-column {
        @include xy-grid;

        .pricing-split-col-1,
        .pricing-split-col-2 {
            @include xy-cell(12);

            @include breakpoint(medium) {
                @include xy-cell(6);
            }
        }

        .pricing-split-col-1 {

        }

        .pricing-split-col-2 {
            align-self: center;
            justify-content: center;
        }
    }
}

.definition-list-wrapper {
    display: flex;
    justify-content: center;

    dt {
        font-size: 1.2rem;
    }
}