.content-area.product {
    .crg-header {
        @include xy-grid;
        text-align: center;

        h1 {
            @include xy-cell(12);
        }

        a {
            @include xy-cell(12);
            max-width: 400px;
            margin: 0 auto;
            margin-top: 20px;
        }
    }

    .product-bullets-container {
        &:after {
            margin-top: 50px;
        }
    }
}